.App {
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.book {
  margin-top: 10px;
  top: 300px;
  position: fixed;
}

.img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  right: 300px;
}

.enlarge {
  top: 10px;
  height: 300px;
  width: 250px;
  position: fixed;
}

.content {
  position: fixed;
  left: 300px;
  right: 300px;
  top: 30px;
  border: 3px dashed #bebab5;
}
